<img id="logo" src="/assets/small_logo.png" alt="<%= t('application.title') %>" />

<nav id="top_bar">
	<ul>
		<li><a href="/"><%= t('home.link_name') %></a></li>
		<li><a href="<%= projects_path %>"><%= t('projects.link_name') %></a></li>
		<li><a href="#"><%= t('stats.link_name') %></a></li>
		<li><a href="#"><%= t('about.link_name') %></a></li>
		<li><a href="#"><%= t('user.link_name') %></a></li>
	</ul>
</nav>