<h1>Listing projects</h1>

<ul id="projects">
    <% @projects.each do |project| %>
        <li class="project">
            <h2><img src="<%= project.logo %>" alt="<%= project.name %>" width="30" /><%= project.name %></h2>
            
            <div class="description"><%= project.description%></div>
            <div class="controls">
                <%= link_to t('projects.show_link_name'), project_path(project) %>
                <%= link_to t('projects.edit_link_name'), edit_project_path(project) %>
                <%= link_to t('projects.delete_link_name'), project_path(project), confirm: 'Are you sure?', method: :delete %>
            </div>
        </li>
    <% end %>
</ul>

<br />

<%= link_to 'New Project', new_project_path %>
