<p id="notice"><%= notice %></p>

<div id="project_information">
  <header>
    <%= image_tag @project.logo, :width => 30, :alt => @project.name%><h1><%= @project.name %></h1>
  </header>
  <p class="description"><%= @project.description %></p>
  <p class="url"><%= @project.git_url %></p>
</div>

<div id="commit">
    
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
